@import "tailwindcss";

.bg-code {
  background-image: url('/codeBG.png');
  background-size: 100% auto;         
  background-position: top;           
  background-repeat: no-repeat;
  background-attachment: scroll;        
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-inconsolata);
  --color-tulisanBiru: #80BCEB;
  --color-objekBiru: #000044;
  --color-putih: #DFEFFF;
  --breakpoint-md2: 62.5rem;
  --breakpoint-sm2: 25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inconsolata;
}
